<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <javaee:resource-ref>
    <javaee:description>database</javaee:description>
    <javaee:res-ref-name>jdbc/infprg03</javaee:res-ref-name>
    <javaee:res-type>javax.sql.DataSource</javaee:res-type>
    <javaee:res-auth>Container</javaee:res-auth>
  </javaee:resource-ref>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>surveys</servlet-name>
    <servlet-class>servlets.SurveysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>surveys</servlet-name>
    <url-pattern>/surveys</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>connectUser</servlet-name>
    <servlet-class>servlets.ConnectUserSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connectUser</servlet-name>
    <url-pattern>/connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>disconnectUser</servlet-name>
    <servlet-class>servlets.DisconnectUserSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disconnectUser</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>servlets.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/registreren</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>servlets.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/inloggen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>servlets.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/uitloggen</url-pattern>
  </servlet-mapping>  
</web-app>